body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  color: #2b5a27;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.9), rgba(255,255,255,0.95));
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

input[type="text"], input[type="number"], input[type="checkbox"] {
  padding: 12px;
  margin-bottom: 20px;
  border: 2px solid #4F9D2F;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"].wide {
  height: 100px;
  width: 800px;
}

input[type="checkbox"] {
  margin-left: 10px;
}

input[type="submit"] {
  background: linear-gradient(to bottom right, #6AB92E, #4F9D2F);
  color: #fff;
  padding: 14px 24px;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

input[type="submit"].long {
  background: linear-gradient(to bottom right, #6AB92E, #4F9D2F);
  color: #fff;
  padding: 14px 24px;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 200px;
}

input[type="submit"]:hover {
  background: linear-gradient(to bottom right, #5B9526, #5D8C28);
  border-color: #fff;
}

.generated-text-list {
  margin-top: 40px;
  font-size: 24px;
  line-height: 1.5;
}

.image {
  margin-top: 10px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.vegetable-list {
  columns: 4; /* number of columns */
  column-width: 150px; /* width of each column */
}

.form-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-field {
  flex: 1 1 auto;
  margin-right: 20px;
  margin-bottom: 20px;
}

.ask-question {
  flex: 1 1 auto;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 50px;
  width: 300px;
}

.vegetables-columns {
  columns: 2;
}

form {
  margin-top: 250px;
  margin-left: 60px;
  padding-top: 20px;
}

ul {
  list-style: none;
}

header {
  background-color: hsl(0, 0%, 100%);
  height: 100px;
  display: flex;
  align-items: center;
}

.header.png {
  flex: 1;
  margin-left: 20px;
}

.header.png img {
  height: 80px;
}

nav {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  background: white;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  color: #315e3e;
  background: #ffffff;
  border-image: none;
}

nav a i {
  border: 4px solid #315e3e;
  border-image: none;
}

nav a:hover {
  text-decoration: underline;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.9), rgba(255,255,255,0.95));
  margin-top: 50px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  body {
    width: 100%;
  }
}


