{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <div class="header-content">
      <div class="header-image">
        <img src="{% static 'louies_garden_app/images/header.png' %}" alt="Header Image">
      </div>
      <nav>
        <ul>
          <li><a href="/louies_garden_app/planner/">Planner</a></li>
          <li><a href="/louies_garden_app/ask/">Ask Louie</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <p>&copy; 2023 Louie's Garden. All rights reserved.</p>
  </footer>

</body>
</html>
